@media (min-width: 1200px) {
  body {
    max-width: 1320px;
    margin: auto;
  }
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.menu-bar {
  float: left;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  color: #f2f2f2;
  background-color: #333;
}

.form-field {
  border-radius: 10px;
  border-color: #ced4da;
}

.radio-button {
  border: 0.5px solid #ced4da;
  border-radius: 10px;
  padding: 5px;
}

.radio-button-checked {
  border: 2px solid #6f29b8;
  background: #eeecf0 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #6f29b8;
}

/* input[type="radio"]:checked+input{
}  */

.mandatory {
  color: red;
}

.button-rounded {
  border-radius: 33px;
  font-size: 16px;
  padding: 10px 40px 10px 40px;
  opacity: 1;
}

.green-btn {
  background: #32b480;
}

.grey-btn {
  background: #676574;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.loader {
  left: 50%;
  top: 40%;
  z-index: 1000;
  position: absolute;
}
