
/* .bold{
  font-weight: bold;
  color: #3E3E3E;
  font-size: 18px;
} */

/* .form-container{
  border-radius: 30px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
} */

  .form-field{
    border-radius: 10px;
    border-color: #ced4da;
}

.radio-button {
  border: 0.5px solid #ced4da;
  border-radius: 10px;
  padding: 5px;
}

.radio-button-checked {
  border: 2px solid #6F29B8;
  background: #EEECF0 0% 0% no-repeat padding-box;
  opacity: 1;
  color: #6F29B8;
  font-weight: bold;
}

.mandatory{
  color: red;
}

.button-rounded{
  border-radius: 33px;
  font-size: 16px;
  padding: 10px 40px 10px 40px;
  opacity: 1;
}

.green-btn{
  background: #32B480;
}

.grey-btn{
  background: #676574;
}

.loader-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f8f8f8ad;
}
.loader{
  left: 50%;
  top: 40%;
  z-index: 1000;
  position: absolute;
}